.basket {
	&__crumbs {
		align-items: center;
		display: flex;
		column-gap: 0.8125rem;
		&-home {
			font-weight: 500;
			font-size: 1.0625rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&-cart {
			font-weight: 500;
			font-size: 1.0625rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #919191;
		}
	}
	.product__content-input {
		margin: 0 auto;
		width: 2.9375rem;
		height: 2.9375rem;
	}
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&__info {
		margin-top: 6.25rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #cccccc;
		padding-bottom: 1.625rem;
		&-title {
			font-weight: 500;
			font-size: 1.25rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&-message {
			text-align: center;
			font-size: 1.875rem;
			margin-top: 3.125rem;
		}
		&-list {
			display: flex;
			column-gap: 1.25rem;
			text-align: center;
		}
		&-item {
			font-size: 1.25rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
			width: 7.5rem;
		}
	}
	&__product {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 3.125rem;
		position: relative;
		&-mark {
			position: absolute;
			cursor: pointer;
			right: 10px;
			top: 10px;
		}
		&-left {
			flex-direction: column;
			display: flex;
			column-gap: 2rem;
			align-items: center;
		}
		&-img {
			width: 8.75rem;
		}
		&-name {
			font-weight: 500;
			font-size: 1.0625rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&-price {
			font-weight: 500;
			font-size: 1.0625rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&-count {
			font-weight: 400;
			font-size: 1.25rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
			padding: 0.1875rem 0.9375rem 0.3125rem;
			border: 1px solid #afafaf;
		}
		&-sum {
			font-weight: 500;
			font-size: 1.0625rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
			padding-right: 4.375rem;
		}
	}
	&__ticket {
		margin-top: 4.8125rem;
		display: flex;
		justify-content: space-between;
		&-left {
			display: flex;
			column-gap: 1rem;
			position: relative;
		}
		&-input {
			margin-top: 1.25rem;
			width: 15.9375rem;
			height: 2.9375rem;
			border: none;
			cursor: pointer;
			border-bottom: 1px solid #000000;
			&::placeholder {
				font-weight: 500;
				font-size: 1.0625rem;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: #868686;
			}
		}
		&-message {
			position: absolute;
			bottom: -100px;
			font-size: 1.375rem;
		}
		&-btn {
			cursor: pointer;
			font-weight: 400;
			font-size: 1.0625rem;
			line-height: 138.9%;
			text-align: center;
			letter-spacing: 0.02em;
			color: #6e9c9f;
			border: 1px solid #6e9c9f;
			background: transparent;
			width: 15.5rem;
			height: 4.25rem;
		}
	}
	&__pay {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		margin-top: 6.25rem;
		&-header {
			margin-right: 25rem;
			display: flex;
			column-gap: 1.25rem;
			justify-content: left;
		}
		&-info {
			font-weight: 500;
			font-size: 1.0625rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
			margin-bottom: 1.75rem;
		}
		&-btns {
			display: flex;
			column-gap: 0.9375rem;
		}
		&-btn1 {
			padding: 0 0.625rem;
			min-width: 17.9375rem;
			height: 4.25rem;
			background: #f1eadc;
			font-weight: 500;
			font-size: 1.5625rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
			border: none;
			display: flex;
			column-gap: 1.275rem;
			justify-content: center;
			align-items: center;
		}
		&-btn2 {
			width: 14.75rem;
			height: 4.25rem;
			background: #6e9c9f;
			font-weight: 400;
			font-size: 1.0625rem;
			line-height: 138.9%;
			text-align: center;
			letter-spacing: 0.02em;
			color: #ffffff;
			border: none;
			cursor: pointer;
		}
	}
}
@media (max-width: 900px) {
	.basket {
		&__product,
		&__info {
			display: none;
		}
		&__product {
			&-adaptive {
				position: relative;
				margin-top: 50px;
				display: flex;
				gap: 20px;
				padding: 20px;
				border: 1px solid gray;
			}
			&-row {
				width: 100%;
				display: flex;
				justify-content: space-between;
				gap: 20px;
				padding: 20px;
			}
		}

		&__ticket {
			flex-direction: column;
			gap: 1.5625rem;
			margin-top: 2rem;
			&-left {
				flex-wrap: wrap;
				gap: 20px;
			}
			&-input {
				flex: 1;
				min-width: 12.5rem;
			}
			&-btn {
				min-width: 12.5rem;
				flex: 1;
			}
		}
		&__pay {
			margin-top: 2rem;
			&-header {
				margin-right: 0;
			}
			&-info {
				margin-bottom: 0.75rem;
			}

			&-btn1 {
				padding: 0;
				height: 3rem;
				min-width: unset;
			}
			&-btns {
				display: flex;
				column-gap: 0.9375rem;
				flex-direction: column;
				gap: 20px;
			}
			&-link {
				text-align: end;
			}
		}
	}
}
@media (min-width: 900px) {
	.basket__product-adaptive {
		display: none;
	}
}

@media (max-width: 576px) {
	.basket {
		&__info-card {
			:last-child {
				margin-right: 0;
			}
			display: flex;
			
			overflow-x: scroll;
			&::-webkit-scrollbar {
				height: 3px;
			}

			&::-webkit-scrollbar-track {
				background-color: #f1f1f1;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #888;
				border-radius: 5px;
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: #555;
			}
		}
		&__product {
			&-adaptive {
				margin-top: 1.25rem;
				gap: 1.25rem;
				// min-width: 100%;
				display: block;
				padding: 2.125rem 2.125rem 1rem 2.125rem;
				margin-right: 1.25rem;
				margin-bottom: 0.625rem;
			}
			&-row {
				width: 300px;
				display: block;
				padding: 0;
			}
		}
	}
}
@media (max-width: 400px) {
	.basket {
		&__product {
			&-adaptive {
				min-width: 100%;
			}
			&-row {
				width: 100%;
			}
		}
	}
}
