.basket {
	&__crumbs {
		align-items: center;
		display: flex;
		column-gap: 13px;
		&-home {
			font-weight: 500;
			font-size: 17px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&-cart {
			font-weight: 500;
			font-size: 17px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #919191;
		}
	}
	.product__content-input {
		margin: 0 auto;
		width: 47px;
		height: 47px;
	}
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&__info {
		margin-top: 6.25rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #cccccc;
		padding-bottom: 26px;
		&-title {
			font-weight: 500;
			font-size: 20px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&-message {
			text-align: center;
			font-size: 30px;
			margin-top: 50px;
		}
		&-list {
			display: flex;
			column-gap: 20px;
			text-align: center;
		}
		&-item {
			font-size: 20px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
			width: 120px;
		}
	}
	&__product {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 50px;
		&-mark {
			cursor: pointer;
		 }
		&-left {
			display: flex;
			column-gap: 32px;
			align-items: center;
		}
		&-img {
			width: 140px;
		 }
		&-name {
			font-weight: 500;
			font-size: 17px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&-price {
			font-weight: 500;
			font-size: 17px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&-count {
			font-weight: 400;
			font-size: 20px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
			padding: 3px 15px 5px;
			border: 1px solid #afafaf;
		}
		&-sum {
			font-weight: 500;
			font-size: 17px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
			padding-right: 70px;
		}
	}
	&__ticket {
		margin-top: 77px;
		display: flex;
		justify-content: space-between;
		&-left {
			display: flex;
			column-gap: 16px;
			position: relative;
		}
		&-input {
			margin-top: 20px;
			width: 255px;
			height: 47px;
			border: none;
			cursor: pointer;
			border-bottom: 1px solid #000000;
			&::placeholder {
				font-weight: 500;
				font-size: 17px;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: #868686;
			}
		}
		&-message {
			position: absolute;
			bottom: -100px;
			font-size: 22px;
		 }
		&-btn {
			cursor: pointer;
			font-weight: 400;
			font-size: 17px;
			line-height: 138.9%;
			text-align: center;
			letter-spacing: 0.02em;
			color: #6e9c9f;
			border: 1px solid #6e9c9f;
			background: transparent;
			width: 248px;
			height: 68px;
		}
	}
	&__pay {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		margin-top: 100px;
		&-header {
			margin-right: 400px;
			display: flex;
			column-gap: 20px;
			justify-content: left;
		}
		&-info {
			font-weight: 500;
			font-size: 17px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
			margin-bottom: 28px;
		}
		&-btns {
			display: flex;
			column-gap: 15px;
		}
		&-btn1 {
			padding: 0 10px;
			min-width: 17.9375rem;
			height: 68px;
			background: #f1eadc;
			font-weight: 500;
			font-size: 25px;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
			border: none;
			display: flex;
			column-gap: 1.275rem;
			justify-content: center;
			align-items: center;
		}
		&-btn2 {
			width: 236px;
			height: 68px;
			background: #6e9c9f;
			font-weight: 400;
			font-size: 17px;
			line-height: 138.9%;
			text-align: center;
			letter-spacing: 0.02em;
			color: #ffffff;
			border: none;
			cursor: pointer;
		}
	}
}
