.header {
	padding-top: 3.1875rem;

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 2.8125rem;
		font-weight: 400;
		font-size: 0.9375rem;
		line-height: 140%;
		letter-spacing: 0.02em;
	}
	&__link {
		font-weight: 400;
		font-size: 0.9375rem;
		line-height: 140%;
		letter-spacing: 0.02em;
		@extend .hoverColor;
	}
	&__info {
		display: flex;
		gap: 2.1875rem;
		font-weight: 400;
		font-size: 0.9375rem;
		line-height: 140%;
		letter-spacing: 0.02em;

		&-call {
			display: flex;
			align-items: center;
			gap: 0.8125rem;
			@extend .hoverOpacity;
		}
		&-cart {
			cursor: pointer;
			@extend .hoverOpacity;
		}
	}

	&__user {
		display: flex;
		align-items: center;
		gap: 1.25rem;
		&-link {
			display: flex;
			align-items: center;
			gap: 0.4375rem;
			@extend .hoverOpacity;
		}
	}
}
@media (max-width: 68.75rem) {
	.header {
		&__info-call {
			display: none;
		}
	}
}
@media (max-width: 62rem) {
	.header {
		&__info-call {
			display: flex;
		}
		&__list {
			display: none;
		}
	}
}
@media (max-width: 48rem) {
	.header {
		&__info-call {
			display: none;
		}
	}
}
@media (max-width: 34.375rem) {
	.header {
		&__info-cart {
			display: none;
		}
	}
}
@media (max-width: 28.125rem) {
	.header {
		&__user {
			display: none;
		}
	}
}
