

.header {
	padding-top: 3.1875rem;

	&__nav {
		display: flex;
		justify-content: space-between;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 2.8125rem;
		font-weight: 400;
		font-size: 0.9375rem;
		line-height: 140%;
		letter-spacing: 0.02em;
	}
	&__link {
		font-weight: 400;
		font-size: 0.9375rem;
		line-height: 140%;
		letter-spacing: 0.02em;
		@extend .hoverColor;
	}
	&__info {
		display: flex;
		gap: 4.1875rem;
		font-weight: 400;
		font-size: 0.9375rem;
		line-height: 140%;
		letter-spacing: 0.02em;

		&-call {
			display: flex;
			align-items: center;
			gap: 0.8125rem;
			@extend .hoverOpacity;
		}
		&-cart {
			cursor: pointer;
			@extend .hoverOpacity;
		}
	}
	
	&__user {
		display: flex;
		align-items: center;
		&-link {
			display: flex;
			align-items: center;
			gap: .4375rem;
			@extend .hoverOpacity;
		}
	}
}
