.new {
	padding: 2.6875rem 0 11.5rem;
	&__content {
		display: flex;
		justify-content: space-between;
		text-align: center;
		&-right {
			position: absolute;
			right: 0;
			top: 0;
			background: #f1eadc;
			width: 50%;
			padding: 7.5rem 0 3.125rem 3.125rem;
			z-index: -2;
		}
	}
	&__title {
		padding-top: 10.625rem;
		font-weight: 500;
		font-size: 3.4375rem;
		line-height: 110%;
		letter-spacing: 0.02em;
		color: #000000;
	}
	&__subtitle {
		font-weight: 400;
		font-size: 1.25rem;
		line-height: 140%;
		letter-spacing: 0.02em;
		color: #000000;
		margin: 2.8125rem 0 3.25rem;
	}
	&__btns {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__btn1 {
		width: 4.1875rem;
		height: 4.1875rem;
		background: rgba(110, 156, 159, 0.1);
		border: none;
		font-size: 1.75rem;
		color: #6e9c9f;
		cursor: pointer;
	}
	&__btn2 {
		width: 15.1875rem;
		height: 4.25rem;
		background: #6e9c9f;
		border: none;
		cursor: pointer;
		font-weight: 400;
		font-size: 1.0625rem;
		line-height: 138.9%;
		text-align: center;
		letter-spacing: 0.02em;
		color: #ffffff;
	}
}

@media (max-width: 1250px) {
	.new {
		&__content-left {
			width: 55%;
		}
	}
}
@media (max-width: 1024px) {
	.new {
		&__title {
			font-size: 2.8125rem;
		}
	}
}
@media (max-width: 992px) {
	.new {
		&__img {
			width: 100%;
		}
		&__title {
			padding-top: 7.5rem;
			font-size: 2.0625rem;
		}
		&__subtitle {
			font-size: 1.0625rem;
		}
	}
}
@media (max-width: 768px) {
	.new {
		padding: 2.6875rem 0 6.5rem;
		&__img {
			max-height: 25rem;
		}
		&__title {
			font-size: 1.4375rem;
			padding-top: 1.875rem;
		}
		&__subtitle {
			font-size: 0.875rem;
		}
		&__btn1 {
			width: 3.4375rem;
			height: 3.75rem;
		}
		&__btn2 {
			width: 11.25rem;
			height: 3.75rem;
		}
	}
}
@media (max-width: 730px) {
	.new {
		&__img {
			object-fit: contain;
			max-height: 18rem;
		}
	}
}
@media (max-width: 576px) {
	.new {
		padding: 1.5625rem 0 5rem;

		&__title {
			font-size: 2.125rem;
		}
		&__subtitle {
			font-size: 1rem;
		}
		&__img {
			object-fit: cover;
		}
		&__content {
			&-right {
				width: 100%;
				padding: 7.5rem 6.25rem 3.125rem 6.25rem;
				span {
					opacity: 0.2 !important;
					width: 100% !important;
				}
			}
			&-left {
				width: 100%;
			}
		}
	}
}

@media (max-width: 390px) {
	.new {
		&__title {
			font-size: 1.6875rem;
		}
		&__subtitle {
			font-size: 0.875rem;
		}
		&__content-right {
			padding: 7.5rem 3.125rem 6.25rem 3.125rem;
		}
	}
}
