.create {
	&__color {
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			content: "+";
			font-size: 1.875rem;
		}
	}
	&__form {
		padding: 3.75rem 0;
		display: flex;
		justify-content: center;
		align-items: center;
		&-content {
			padding: 1.25rem;
			border: 1px solid #6e9c9f;
			display: flex;
			flex-direction: column;
			row-gap: 1.25rem;
		}
		&-size {
			border: 1px solid #000000;
			width: 2.5625rem;
			height: 2.5625rem;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 500;
			font-size: 1.0625rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
			text-transform: uppercase;
			transition: 0.3s;
			cursor: pointer;
			margin-bottom: 0;
			&:hover,
			&_active {
				color: #fff;
				background: black;
				transition: 0.3s;
			}
		}
		&-block {
			width: 31.25rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			input {
				width: 50%;
				height: 2.5rem;
				outline: none;
			}
		}
		&-input {
			border: 1px solid #6e9c9f;
			padding-left: .9375rem;
		}
		&-select {
			width: 4.375rem;
			height: 1.875rem;
			border: 1px solid #6e9c9f;
			cursor: pointer;
			outline: none;
		}
		&-btn {
			padding: .9375rem 0;
			background: #6e9c9f;
			border: none;
			color: white;
			cursor: pointer;
		}
		&-colors {
			display: flex;
			column-gap: .625rem;
		}
		&-sizes {
			display: flex;
			column-gap: .625rem;
		}
	}
	&__size {
		background: black;
		color: white;
	}
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

@media (max-width: 567px) {
	.create{
		&__form{
			&-content{
				width: 100%;
			}
			&-block {
				width: 100%;
			}
		}
	}

	.create__form-block input {
		width: 50%;
		height: 1.875rem;
		outline: none;
	}
	.create__form-size {
		width: 2.25rem;
		height: 2.25rem;
		font-size: .6875rem;
	}
	.create__form-btn {
		padding: .625rem 0;
	}
}
