.order {
	padding: 5rem 0 8.5rem;
	&__title {
		font-weight: 500;
		font-size: 3.4375rem;
		line-height: 110%;
		letter-spacing: 0.02em;
		color: #000000;
	}
	&__links {
		display: flex;
		align-items: center;
		column-gap: .8125rem;
	}
	&__link {
		font-weight: 500;
		font-size: 1.0625rem;
		line-height: 140%;
		letter-spacing: 0.02em;
		color: #000000;
	}
	&__current {
		font-weight: 500;
		font-size: 1.0625rem;
		line-height: 140%;
		letter-spacing: 0.02em;
		color: #919191;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		margin-top: 13.75rem;
		align-items: center;
		&-left {
			display: flex;
			column-gap: 2.75rem;
			align-items: center;
		}
		&-subtitle {
			display: flex;
			flex-direction: column;
		}
		&-text {
			font-weight: 500;
			font-size: 1.5625rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&-info {
			font-weight: 500;
			font-size: 1.0625rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&-btn {
			font-weight: 400;
			font-size: 1.0625rem;
			line-height: 138.9%;
			text-align: center;
			letter-spacing: 0.02em;
			color: #6e9c9f;
			border: 1px solid #6e9c9f;
			width: 17rem;
			height: 4.25rem;
			background: transparent;
			cursor: pointer;
		}
	}
}
@media (max-width: 992px) {
	.order {
		padding: 0;
		&__content {
			margin-top: 9.25rem;
			display: flex;
			flex-direction: column;
			row-gap: 1.25rem;
			align-items: center;
			text-align: center;
			justify-content: center;
		}
	}
}
@media (max-width: 576px) {
	.order {
		&__content {
			margin-top: 6rem;
			&-img {
				width: 50%;
				object-fit: cover;
			}
			&-text{
				font-size: 1.25rem;
			}
			&-info{
				font-size: 1rem;
			}
			&-left {
				flex-direction: column;
				gap: 1.25rem;
			}
		}
	}
}
