@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url(./variables.scss);
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-style: normal;
	color: var(--black-color);
}
.container {
	width: 100%;
	max-width: 69.375rem;
	margin: 0 auto;
}
.hoverOpacity {
	transition: all 0.3s ease-in;
	&:hover {
		opacity: 0.5;
		color: var(--dark-green);
	}
}
.hoverColor {
	transition: color 0.3s ease-in;
	&.active,
	&:hover {
		color: var(--dark-green);
	}
}

@import "../Layout/Header/header.scss";
@import "../Layout/Footer/footer.scss";

@import "../pages/Register/register.scss";
@import "../pages/Login/login.scss";

@import "../pages/Shop/shop.scss";
@import "../pages/Shop/ShopList/shopList.scss";
@import "../pages/Shop/QuantityGoods/quantityGoods.scss";
@import "../pages/Shop/ShopSorts/ShopSorts.scss";
@import "../pages/Basket/basket.scss"; 
@import "../pages/Product/Product.scss";
@import "../pages/Product/SliderProduct/SliderProduct.scss";

@import "../pages/Checkout/Checkout.scss";

@import "../pages/Profile/profile.scss";

@import "../pages/CreateProduct/CreateProduct.scss";



@import "../components/ChangeLanguages/ChangeLanguages.scss";
@import "../components/BackToHome/BackToHome.scss";
@import "../components/Title/title.scss";
@import "../components/SubTitle/subTitle.scss";
@import "../components/Logo/logo.scss";
@import "../components/Card/Card.scss";
@import "../components/PriceSale/PriceSale.scss";
