:root {
	--black-color: #000000;
	--dark-green: #6E9C9F;

	--custom-blue: #318fff;
	--custom-dark-blue: #083478;
	--custom-black-blue: #06274e;
	--custom-white: #ffffff;
	--custom-light-blue: #e5efff;
	--custom-grey: #a2a2a2;
}
