:root {
	--black-color: #000000;
	--dark-green: #6e9c9f;
	--light-green: #d0f0e4;
	--white: #ffffff;
	--grey: #787a80;
	--dark-grey: #424551;
	--light-grey: #9a9ca5;
	--red: red;
	--blue: #66b0f0;
	--footerBG: #f1eadc;
	--cardBG: #6e9c9fa3;


	--custom-blue: #318fff;
	--custom-dark-blue: #083478;
	--custom-black-blue: #06274e;
	--custom-light-blue: #e5efff;
	--custom-grey: #a2a2a2;
}
