.shop {
	&__list {
		display: flex;
		gap: 0.625rem;
		align-items: center;
		margin: 3.125rem 0 2.75rem;
		flex-wrap: wrap;
	}
	&__item {
		padding: 1.1875rem 4.0625rem;
		border: 1px solid;
		text-align: center;
		border-color: var(--black-color);
		font-weight: 500;
		font-size: 1.0625rem;
		line-height: 140%;
		letter-spacing: 0.02em;
		color: var(--black-color);
		transition: all 0.3s ease-in;
		cursor: pointer;
		&:hover,
		&_active {
			background: var(--black-color);
			color: var(--white);
		}
	}
	&__sorts {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 1.25rem;
		margin-bottom: 0.9375rem;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		gap: 1.875rem;
	}
}
@media (max-width: 1100px) {
	.shop {
		&__item {
			width: calc(25% - 8px);
		}
	}
}
@media (max-width: 992px) {
	.shop {
		&__item {
			width: calc(33.33% - 7px);
		}
	}
}
@media (max-width: 768px) {
	.shop {
		&__sorts {
			flex-direction: column;
		}
		&__item {
			padding: 0.6rem 0.7rem;
			flex: 1;
		}
	}
}
@media (max-width: 400px) {
	.shop {
	
		&__item {
			padding: 0.6rem 0.1rem;
			flex: 1;
		}
	}
}
