.mySwiper {
	max-height: 40.625rem;
	height: 100vh;
	@media (max-width: 992px) {
		max-height: 36rem;
	}
	@media (max-width: 870px) {
		max-height: 32rem;
	}
	@media (max-width: 870px) {
		max-height: 40.625rem;
	}
	@media (max-width: 520px) {
		max-height: 36rem;
	}
	@media (max-width: 460px) {
		max-height: 32rem;
	}
	@media (max-width: 410px) {
		max-height: 29.5rem;
	}
	@media (max-width: 360px) {
		max-height: 26.3rem;
	}
}
.product {
	&__unlink {
		font-weight: 500;
		font-size: 1.0625rem;
		line-height: 140%;
		letter-spacing: 0.02em;
		color: #919191;
	}
	&__card {
		width: 100%;
		img {
			width: 100%;
		}
	}
	&__content {
		margin-top: 6.375rem;
		display: flex;
		column-gap: 4.625rem;
		&-info {
			display: flex;
			flex-direction: column;
			gap: 1.25rem;
			margin-top: 1.25rem;
		}

		&-btnSale {
			background: #6e9c9f;
			color: white;
			border: none;
			cursor: pointer;
			padding: .625rem;
			margin-right: .625rem;
		}

		&-inputSale {
			width: 6.25rem;
			padding: .5rem;
			border: 1px solid #6e9c9f;
			outline: none;
			margin-right: .3125rem;
		}
		&-img {
			width: 50%;
			max-width: 33.5rem;
			object-fit: cover;
		}

		&-price {
			font-weight: 500;
			font-size: 2.5rem;
			line-height: 110%;
			letter-spacing: 0.02em;
			color: #998e78;
			&-sale {
				font-size: 1.875rem;
				color: #9c9c9c;
			}
			&-line {
				margin: 0 0.625rem;
				color: black;
			}
		}
		&-choose {
			font-weight: 500;
			font-size: 1.25rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&-sizes {
			flex-wrap: wrap;
			display: flex;
			gap: 0.9375rem;
		}
		&-size {
			border: 1px solid #000000;
			width: 2.5625rem;
			height: 2.5625rem;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 500;
			font-size: 1.0625rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
			text-transform: uppercase;
			transition: 0.3s;
			cursor: pointer;
			&:hover,
			&_active {
				color: #fff;
				background: black;
				transition: 0.3s;
			}
		}
		&-color {
			width: 2.5625rem;
			height: 2.5625rem;
			border-radius: 50%;
			cursor: pointer;
			border: 1px solid rgb(131, 129, 129);
			&_active {
				border: 2px solid black;
			}
		}
		&-form {
			display: flex;
			column-gap: 0.4375rem;
			margin-top: 2rem;
			flex-wrap: wrap;
			gap: 0.9375rem;
		}
		&-input {
			min-width: 4.25rem;
			height: 4.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
		&-btn {
			flex: 1;
			justify-content: center;
			min-width: 17.5rem;
			min-height: 4.25rem;
			background: #6e9c9f;
			padding: 0 3.125rem;
			font-weight: 400;
			font-size: 1.0625rem;
			line-height: 138.9%;
			text-align: center;
			letter-spacing: 0.02em;
			border: none;
			cursor: pointer;
			color: #ffffff;
			display: flex;
			align-items: center;
		}
	}
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&__similar {
		margin: 8.125rem 0 3.75rem;
		font-weight: 500;
		font-size: 2.5rem;
		line-height: 110%;
		letter-spacing: 0.02em;
		color: #000000;
	}
	&__row {
		display: flex;
		column-gap: 1.875rem;
		margin-bottom: 2.5rem;
	}
}
@media (max-width: 768px) {
	.swiper-slide {
		width: 100% !important;
	}

	.product {
		&__content {
			margin-top: 3rem;
			flex-direction: column;
			&-img {
				width: 100%;
				max-width: unset;
			}
			&-info {
				position: relative;
			}
			&-choose_position {
				position: absolute;
				top: -0.1875rem;
				right: 0;
			}
			&-form {
				margin-top: 0;
			}
			&-btnSale{
				width: 50%;
			}
		}
	}
}
@media (max-width: 450px) {
	.product__similar{
		text-align: center;
		margin: 4rem 0 2rem;
		font-size: 2rem;
	}
}
@media (max-width: 400px) {
	.product {
		&__content {
			&-input {
				flex: 1;
			}
			&-choose_position {
				position: unset;
			}
		}
	}
}
