.checkout {
	&__title {
		font-weight: 500;
		font-size: 25px;
		line-height: 140%;
		letter-spacing: 0.02em;
		margin-bottom: 1.5625rem;
	}
	&__buyer {
		display: flex;
		column-gap: 180px;
		margin: 2.9375rem 0;
		&-price {
			width: 100px;
		}
		&-cart {
			background: #6e9c9f;
			color: white;
			display: flex;
			column-gap: 10px;
			&-img {
				width: 40%;
			}
			&-info {
				display: flex;
				flex-direction: column;
				width: 100%;
				gap: 10px;
			}
			&-top {
				display: flex;
				padding-right: 10px;
				flex-direction: column;
				gap: 10px;
			}
		}
		&-form {
			width: 40%;
			display: flex;
			flex-direction: column;
			row-gap: 35px;
		}
		&-input {
			border: none;
			border-bottom: 1px solid black;
			padding-bottom: 16px;
			outline: none;
			&::placeholder {
				font-weight: 500;
				font-size: 17px;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: #868686;
			}
		}
		&-left {
			width: 50%;
		}
		&-list {
			display: flex;
			flex-direction: column;
			row-gap: 1.25rem;
		}
		&-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&_act {
				height: 57px;
				padding: 8px;
				background: #f1eadc;
			}
		}
		&-info {
			font-weight: 500;
			font-size: 20px;
			line-height: 140%;
			letter-spacing: 0.02em;
			width: 100%;
		}
		&-product {
			text-align: left;
			font-weight: 500;
			font-size: 17px;
			line-height: 140%;
			letter-spacing: 0.02em;
		}
		&-product-title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 10px;
		}
		&-product-text {
			width: 50%;
			display: flex;
			justify-content: space-between;
		}
	}
	&__address {
		display: flex;
		column-gap: 295px;
		&-form {
			width: 40%;
			display: flex;
			flex-direction: column;
			row-gap: 35px;
		}
		&-input {
			border: none;
			border-bottom: 1px solid black;
			padding-bottom: 16px;
			outline: none;
			&::placeholder {
				font-weight: 500;
				font-size: 17px;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: #868686;
			}
		}
		&-comment {
			resize: none;
			border: none;
			border-bottom: 1px solid black;
			outline: none;
			min-height: 4.5rem;

			&::placeholder {
				font-weight: 500;
				font-size: 17px;
				line-height: 140%;
				letter-spacing: 0.02em;
				color: #868686;
			}
		}
		&-check {
			display: flex;
			align-items: center;
			column-gap: 20px;
			margin-bottom: 47px;
		}
		&-left {
			padding-top: 85px;
		}
		&-btn {
			background: #6e9c9f;
			padding: 22px 50px;
			border: none;
			cursor: pointer;
			font-weight: 400;
			font-size: 17px;
			line-height: 138.9%;
			text-align: center;
			letter-spacing: 0.02em;
			color: #ffffff;
		}
	}
}

@media (max-width: 1024px) {
	.checkoutForm{
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
	.checkout {
		&__buyer {
			&-item {
				display: none;
			}
			&-cart {
				flex-direction: column;
				&-img {
					width: 100%;
				}
				&-info {
					padding: 0.625rem;
				}
			}
			&-product-text {
				width: 100%;
			}
			&-form{
				width: 100%;
			}
		}
	}
}
@media (max-width: 992px) {
	.checkout {
		&__buyer {
			column-gap: 55px;
			margin: 80px 0 0;
		}
		&__address {
			display: flex;
			column-gap: 140px;
		}
		&__address-btn {
			background: #6e9c9f;
			padding: 10px 12px;
		}
	}
}
@media (max-width: 768px) {
	.checkout {
		&__buyer {
			gap: .9375rem;
			flex-direction: column-reverse;
			&-cart{
				min-width: calc(50% - 10px);
			}
			&-list {
				padding-bottom: 10px;
				flex-direction: row;
				gap: 1.25rem;
				overflow-x: scroll;
				&::-webkit-scrollbar {
					height: 3px;
				}

				&::-webkit-scrollbar-track {
					background-color: #f1f1f1;
				}

				&::-webkit-scrollbar-thumb {
					background-color: #888;
					border-radius: 5px;
				}

				&::-webkit-scrollbar-thumb:hover {
					background-color: #555;
				}
			}
			&-left {
				width: 100%;
			}
			&-form{
				row-gap: 1.5rem;
			}
		}
		&__address{
			flex-direction: column;
			&-form{
				width: 100%;
				row-gap: 1.5rem;
			}
			&-left {
				padding-top: 1.5rem;
			}
		}
	}
}
@media (max-width: 690px) {
	.checkout__buyer-cart{
		min-width: 70%;
	}
}
@media (max-width: 550px) {
	.checkout__buyer-cart{
		min-width: 90%;
	}
}
@media (max-width: 390px) {
	.checkout__buyer-cart{
		min-width: 100%;
	}
}