.sorts {
	display: flex;
	column-gap: 20px;
	justify-content: flex-end;
	align-items: flex-end;
	&__sort {
		border: 1px solid #6e9c9f;
		background: transparent;
		color: #6e9c9f;
		width: 100px;
		height: 40px;
		cursor: pointer;
		transition: all .3s ease-in;
		&.active,&:hover {
			background: #6e9c9f;
			color: white;
		}
	}
}
