.sorts {
	display: flex;
	column-gap: 1.25rem;
	&__sort {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #6e9c9f;
		background: transparent;
		color: #6e9c9f;
		padding: 2px 1.25rem;
		height: 2.5rem;
		cursor: pointer;
		transition: all 0.3s ease-in;
		&.active,
		&:hover {
			background: #6e9c9f;
			color: white;
		}
	}
}
@media (max-width: 400px) {
	.sorts {
		flex-wrap: wrap;
		gap: 1.25rem;
		&__sort{
			padding: .3125rem 1.25rem;
			flex: 1;
		}
	}
}
