.team {
	padding-bottom: 8.125rem;
	&__title {
		font-weight: 500;
		font-size: 2.5rem;
		line-height: 110%;
		letter-spacing: 0.02em;
		color: #000000;
		margin-bottom: 5.75rem;
	}
	&__content {
		display: flex;
		column-gap: 7.75rem;
		&-right {
			width: calc(50% - 62px);
		}
		&-text {
			padding-top: 4.875rem;
			font-weight: 500;
			font-size: 1.5625rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
		}
		&-info {
			font-weight: 500;
			font-size: 1.0625rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
			margin: 1.75rem 0;
		}
		&-more {
			font-weight: 500;
			font-size: 1.0625rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #6e9c9f;
		}
	}
}

@media (max-width: 1024px) {
	.team {
		&__content {
			column-gap: 3.125rem;
		}
	}
}
@media (max-width: 992px) {
	.team {
		&__content {
			flex-direction: column-reverse;
			&-text {
				padding-top: 0;
			}
			&-right {
				width: 100%;
				text-align: center;
				margin-bottom: 1.25rem;
			}
			&-info {
				font-size: .9375rem;
			}
		}
	}
}
@media (max-width: 767px) {
	.team {
		padding-bottom: 4.375rem;
		&__content {
			&-text {
				font-size: 1.25rem;
			}
		}
	}
}

@media (max-width: 576px) {
	.team {
		padding-bottom: 2rem;
	}
}
