.collection {
	padding-bottom: 8.125rem;
	&__title {
		font-weight: 500;
		font-size: 2.5rem;
		line-height: 110%;
		letter-spacing: 0.02em;
		color: #000000;
		margin-bottom: 5.75rem;
	}
	&__content {
		justify-content: space-between;
		display: flex;
		flex-wrap: wrap;
		gap: 1.875rem;
		&-card {
			width: calc(33.33333% - 20px);
			text-align: center;
		}
		&-text {
			font-weight: 500;
			font-size: 1.25rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #000000;
			margin: 1.5rem 0 .4375rem;
		}
		&-prices {
			display: flex;
			column-gap: .625rem;
			justify-content: center;
			align-items: center;
		}
		&-through {
			font-weight: 500;
			font-size: .9375rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			text-decoration-line: line-through;
			color: #9c9c9c;
		}
		&-price {
			font-weight: 500;
			font-size: .9375rem;
			line-height: 140%;
			letter-spacing: 0.02em;
			color: #998e78;
		}
	}
	&__btn {
		width: 15.1875rem;
		height: 4.25rem;
		font-weight: 400;
		font-size: 1.0625rem;
		line-height: 138.9%;
		text-align: center;
		letter-spacing: 0.02em;
		color: #6e9c9f;
		border: 1px solid #6e9c9f;
		background: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 4.0625rem auto 0;
		cursor: pointer;
	}
}

@media (max-width: 768px) {
	.collection {
		padding-bottom: 2rem;
		&__title{
			margin-bottom: 3.125rem;
		}
	}
}

@media (max-width: 400px) {
	.collection {
	margin-top: 5.625rem;
	
	}
}

